.monster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1rem solid black;
  padding: 1rem 2.5rem;
}

.monster-card-title {
  /* border: 0.1rem solid red; */
  display: flex;
  font-size: 1.6rem;
}

.monster-card-title .level {
  text-align: center;
  vertical-align: middle;
  border: 0.1rem solid black;
  padding: 0rem 0.8rem;
}

.monster-card-title .name {
  flex-grow: 1;
  vertical-align: middle;
  padding-left: 0.8rem;
  border: 0.1rem solid black;
  border-style: solid solid solid none;
}

.monster-card-details {
  border: 0.1rem solid black;
  border-style: none solid none solid;
}

.monster-card-details .row {
  display: flex;
}

.monster-card-details .row2 {
  display: flex;
}

.monster-card-details .row div {
  border: 0.1rem solid black;
  padding: 0.1rem 0.5rem;
  border-style: none solid solid none;
  flex-grow: 1;
}

.monster-card-details .row > :last-child {
  border-style: none none solid none;
}

.monster-card-combat-style-table {
  border: 0.1rem solid black;
  border-collapse: collapse;
  display: table;
}

.monster-card-combat-style-table * {
  border: 0.1rem solid black;
  text-align: center;
}

.monster-card-skills {
  border: 0.1rem solid black;
  border-style: solid solid none none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.monster-card-skill-section {
  flex: 1 1 50%;
  border: 0.1rem solid black;
  padding: 0.2rem 0.5rem;
  border-style: none none solid solid;
}

.monster-card-loot-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.monster-card-loot {
  border: 0.1rem solid black;
  border-style: solid none none solid;
}

.monster-card-loot-title {
  text-align: center;
  border: 0.1rem solid black;
  border-style: none solid solid none;
}

.monster-card-loot-item {
  display: grid;
  grid-template-columns: 20% auto;
  width: 50%;
}

.monster-card-loot-item * {
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid black;
  border-style: none solid solid none;
}

.monster-card-description {
  border: 0.1rem solid black;
  padding: 0.4rem 0.5rem;
}
