*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.2;
}

.monster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: clamp(50rem, 50%, 100rem);
    border: 0.1rem solid black;
    padding: 2rem 1rem;
}

.monster * {
    /* border: 0.1rem solid red; */
}